// Colors
$primary: #4267b2;
$black: black;
$white: white;
$gray: #5f5e5e;

// Generic
$generic-border: 1px solid $gray;

// Navigation
$navbar-height: 3em;
$navbar-border: 0.05em $black solid;
$header-logo-width: 2em;
$header-logo-height: 1.7em;
$header-content-height: 2em;
$header-search-bar-width: 25em;

// Forms
$input-placeholder-color: $gray;
